.card-hotel {
    flex: 1 210px;
}
.btn-reserva {
    width: 100%;
    font-weight: 700;
    border-radius: 0px;
}
.sinborde {
    border-radius: 0px;
}
.ancho-info {
    width: 100%;
}
.color {
    background: #fcba03;
}
.title-h4 {
    font-size: 40px;
}