$yellow: #ffc108;
$red: #ed2424;
$green: #33c70e;

@mixin margenesInterno($top, $bottom, $left, $right){
	padding-top : $top;
	padding-bottom: $bottom;
	padding-left: $left;
	padding-right: $right;
}
.card-hotel {
    flex: 1 210px;
}
.btn-reserva {
    width: 100%;
    font-weight: 700;
    border-radius: 0px;
}
.sinborde {
    border-radius: 0px;
}
.ancho-info {
    width: 100%;
}
.colortitle {
    color: $yellow;
    @include margenesInterno(10px, 10px, 10px, 10px);
}
.borde {
    border-bottom: 2px solid #343a40
}