.card-hotel {
  flex: 1 210px; }

.btn-reserva {
  width: 100%;
  font-weight: 700;
  border-radius: 0px; }

.sinborde {
  border-radius: 0px; }

.ancho-info {
  width: 100%; }

.colortitle {
  color: #ffc108;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.borde {
  border-bottom: 2px solid #343a40; }
